<ion-view view-title="Login" name="login-view" ui-sref="login">
    <ion-content class="padding">
    <br><br><br>
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="data.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
            <button class="button button-block button-calm" ng-click="login()">Login</button>
</ion-content>
</ion-view>