<ion-view view-title="Register" name="register-view" ui-sref="register">
    <ion-content class="padding">
    <br><br><br>
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="password">
            </label>
            <button class="button button-block button-calm" ng-click="register()">Register</button>
</ion-content>
</ion-view>