<ion-view view-title="Show" name="show-view" ui-sref="show">
    <ion-content class="padding">
        <br><br><br>
        <label class="item item-input">
            Email:&nbsp;
            <input type="text" placeholder="Email" ng-model="user.email">
        </label>
        <label class="item item-input">
            Password:&nbsp;
            <input type="text" placeholder="Password" ng-model="user.password">
        </label>
        <label class="item item-input">
            Sex:&nbsp;
            <input type="text" placeholder="Sex" ng-model="user.sex">
        </label>
    </ion-content>
</ion-view>